@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS variables for the fonts */
:root {
  --font-inter: 'Inter', sans-serif;
  --font-fira-mono: 'Fira Mono', monospace;
}

/* Deafult body font */
body {
  font-family: var(--font-inter);
}

@layer utilities {
  .fira-mono {
    font-family: var(--font-fira-mono);
  }

  .text-balance {
    text-wrap: balance;
  }
}
